{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- MAIN PAGE HEADER  -->
    <div class="container h-100 index">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    wines from across the globe.
                </h1>
                <div class="my-5">
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase text-white py-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}