<script type="text/javascript">
// The script manages the increment and decrement functionality
// for product quanities in a the bag and product detials 

/**
 * Disables or enables the increament and decreament buttons based on the item quantity.
 * - Disables the decreament button if the quantity is less than 2
 * - Disables the increament button if the quantity is less than 98
 */
   
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`.qty_input[data-item_id=${itemId}]`).val());
        // Disables decreament button if quantity is less than 2
        $(`.decrement-qty[data-item_id=${itemId}]`).prop('disabled', currentValue < 2);
        // Disables increament button if quanitity more than 98
        $(`.increment-qty[data-item_id=${itemId}]`).prop('disabled', currentValue > 98);
    }

    // Initialise button states on page load for each item
    $('.qty_input').each(function () {
        var itemId = $(this).data('item_id');
        console.log('Initializing item:', itemId);
        handleEnableDisable(itemId);
    });

    // Updates button states whenever the quantity input changes
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        console.log('Quantity changed for item:', itemId);
        handleEnableDisable(itemId);
    });
    
    // Increaments the quantity when the increment button is clicked 
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var closestInput = $(this).closest('.input-group').find(`.qty_input[data-item_id=${itemId}]`);
        var currentValue = parseInt(closestInput.val());
        if (currentValue < 99) {
            closestInput.val(parseInt(closestInput.val()) + 1);
            handleEnableDisable(itemId); 
        }
    });

    // Decrements the quantity when the decreament button is clicked.
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var closestInput = $(this).closest('.input-group').find(`.qty_input[data-item_id=${itemId}]`);
        var currentValue = parseInt(closestInput.val());
        if (currentValue > 1) {
            closestInput.val(parseInt(closestInput.val()) - 1);
            handleEnableDisable(itemId);
        }
    });

</script>