<script type="text/javascript">

   
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`.qty_input[data-item_id=${itemId}]`).val());
        $(`.decrement-qty[data-item_id=${itemId}]`).prop('disabled', currentValue < 2);
        $(`.increment-qty[data-item_id=${itemId}]`).prop('disabled', currentValue > 98);
    }


    $('.qty_input').each(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var closestInput = $(this).closest('.input-group').find(`.qty_input[data-item_id=${itemId}]`);
        closestInput.val(parseInt(closestInput.val()) + 1);
        handleEnableDisable(itemId);
    });

    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var closestInput = $(this).closest('.input-group').find(`.qty_input[data-item_id=${itemId}]`);
        closestInput.val(parseInt(closestInput.val()) - 1);
        handleEnableDisable(itemId);
    });

</script>