{% extends "base.html" %} 

{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr />
            <h2 class="logo-font mb-4">Wishlist</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if wishlist_items %}
            <div class="table-responsive rounded">
                <table class="table table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Info</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>

                    {% for item in wishlist_items %}
                    <tr>
                        <td class="py-3 w-25">
                            <img class="img-thumbnail rounded" src="{{ item.product.image.url }}" style="max-width: 200px; height: auto;" />
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">{{ item.product.category }}</p>
                            <p class="my-0 small text-muted">{{ item.product.country }}</p>
                            <p class="my-0 small text-muted">{{ item.product.region }}</p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            {% if item.product.promotion %}
                            <p class="my-0">
                                <strong>Special offer: {{ item.product.promotion }}</strong>
                            </p>
                            {% else %}
                            <p class="my-0 small text-muted"></p>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <a href="{% url 'product_detail' item.product.id %}" style="decoration: none;"><p class="my-0" style="max-width: 400px; height: 200px; overflow: hidden; text-overflow: clip;">{{ item.product.description }}</p></a>
                        </td>
                        <td class="py-3">
                            {% if item.product.promotion %}
                            <p class="my-0">${{ item.product.discounted_price }}</p>
                            {% else %}
                            <p class="my-0">${{ item.product.price }}</p>
                            {% endif %}
                        </td>
                            <form method="post" action="{% url 'delete_from_wishlist' item.id %}">
                                {% csrf_token %}
                                <td class="py3">
                                    <input type="checkbox" name="delete_item" value="{{ item.id }}">
                                    <input type="submit" value="Delete">
                                </td>
                            </form> 
                            <form method="post" action="{% url 'move_to_bag' item.product.id %}">
                                {% csrf_token %}
                                <td>
                                    <input type="hidden" name="quantity" value="1">
                                    <input type="submit" value="Add to Bag">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </td>
                            </form>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

{% endblock %}