:root {
  --black: (rgb(0, 0, 0));
  --white: rgb(255, 255, 255);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --red: rgb(121, 21, 91);
  --orange: rgb(246, 99, 92);
}

html {
  height: 100%;
}

body {
  background: url("/media/main-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: "Rubik", sans-serif;
}

a:hover {
  text-decoration: none;
}

.logo-font {
  text-transform: uppercase;
}

/* Logo */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}

.logo {
  color: var(--white);
  font-size: clamp(2rem, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

.logo > .grad {
  animation: background-pan 6s linear infinite;
  background: linear-gradient(
    to right,
    var(--red),
    var(--orange),
    var(--pink),
    var(--violet),
    var(--red)
  );
  background-size: 200%;
  animation-direction: alternate-reverse;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* NAV */
/* font awesome fa-user */
.man-color {
  animation: background-pan 4s linear infinite;
  background: radial-gradient(
    var(--red),
    var(--orange),
    var(--pink),
    var(--red)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* font awesome fa-bag and fa-search*/
.bag-color {
  animation: background-pan 4s linear infinite;
  background: radial-gradient(
    var(--pink),
    var(--orange),
    var(--red),
    var(--pink)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: var(--black);
  color: var(--white);
}

.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

/* review below */

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000000 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--white);
  z-index: -1;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name="q"]::placeholder {
  color: #aab7c4;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ICONS */

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.wish-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(238, 11, 11);
}

/* Modal */

.modal-body {
  padding: 12px 16px 32px 16px;
}

.dismiss {
  font-size: 18px;
  margin-bottom: 3px;
}

/* Promotions, discounts */

.discount {
  text-decoration: line-through;
}

/* Fade in button Quick action button */

.card {
  position: relative;
}
.hover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 2;
}

.popup {
  background-color: rgb(201, 200, 200);
  border: none;
  padding: 2.5px 5px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.i-pop {
  padding: 8px;
}

.clr {
  color: white;
}

.btn-icon {
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform ease-out 500ms;
}

.hover-mask:hover .btn-icon {
  transform: translate(-50%, -50%) scale(1);
}

.add-bag[data-toggle] {
  position: relative;
}

.add-bag[data-toggle]::after {
  content: attr(data-toggle);
  display: block;
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  background: rgb(191, 191, 191);
  bottom: 50%;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: ease-out 300ms, bottom ease-out 300ms, left ease-out 300ms;
}

.add-bag[data-toggle]:hover::after {
  transform: scale(1);
  bottom: auto;
  left: -290%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.view[data-toggle] {
  position: relative;
}

.view[data-toggle]::after {
  content: attr(data-toggle);
  display: block;
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  background: rgb(191, 191, 191);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 300ms, bottom ease-out 300ms;
}

.view[data-toggle]:hover::after {
  transform: scale(1);
  bottom: auto;
  left: 0%;
}

.love[data-toggle] {
  position: relative;
}

.love[data-toggle]::after {
  content: attr(data-toggle);
  display: block;
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  background: rgb(191, 191, 191);
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(0);
  transition: transform ease-out 300ms, bottom ease-out 300ms,
    left ease-out 300ms;
}

.love[data-toggle]:hover::after {
  transform: scale(1);
  bottom: -100%;
  left: 160%;
}

.wish:hover {
  color: red;
  transform: scale(2);
  transition: transform ease-out 500ms;
}

.bag:hover {
  color: black;
  transform: scale(2);
  transition: transform ease-out 500ms;
}

.glass:hover {
  transform: scale(2);
  transition: transform ease-out 500ms;
}

/* Wishlist */

.i-wish {
  padding-right: 8px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* .txt-normal {
    display: inline;
} */

 .txt-sm {
    display: none;
 }

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
    