<footer class="container-wrapper mt-5">
    <div class="container quotes-container content-container">
        <section class="footer">
            <div class="row">
                <div class="col-12 page-header mb-4 mt-4">
                    <h2 class="text-uppercase footer-title">Contact Us:</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <!-- Contact us - need a contact us page -->
                    <div class="mb-3">
                        <h4>Contact us:</h4>
                        <a href="#"><i class="fa-regular fa-envelope"></i></a>
                        <hr>
                    </div>
                </div>
                <!-- Feedback ? need a feedback page -->
                <div class="mb-3">
                    <h4>Feedback</h4>
                    <a href="#"><i class="fa-regular fa-comment"></i></a>
                </div>
            </div>
        </section>
    </div>
</footer>