<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="Wine-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wine-link">
                {% for category in categories %}
                <a href="{% url 'products' %}?category={{ category.name|urlencode }}" class="dropdown-item">{{ category.name }}</a>
                {% endfor %}
                <hr>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="country-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Country
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="country-link">
                {% for country in countries %}
                <a href="{% url 'products' %}?country={{ country.name|urlencode }}" class="dropdown-item">{{ country.name }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown"> 
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="region-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
                Region
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="region-link">
                {% for region in regions %}
                <a href="{% url 'products' %}?region={{ region.name|urlencode }}" class="dropdown-item">{{ region.name }}</a>
                {% endfor %}
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                {% for promotion in promotions %}
                    <a href="{% url 'products' %}?promotion={{ promotion.name|urlencode }}" class="dropdown-item">{{ promotion.name }}</a>
                {% endfor %}
            </div>
        </li>
        </ul>
        </div>
    </ul>
    
</div>