<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
        
                    <div class="modal-body">
                        <form method="GET" action="">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q"
                                    placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon man-color">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
