{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}



{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="masthead">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <div>
            <p>{{ post.content | safe }}</p>
        </div>
    </div>
    <div class="flex-item image-content">
        <div class="d-none d-md-block masthead-image">
            <img src="{{ post.hero_image.url }}" class="full-width-image">
        </div>
    </div>
</div>

{% endblock %}w