{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- MAIN PAGE HEADER  -->
<!-- To review overlay as I might move background image to index.html -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                
                <p class="mb-0"></a><i class="fa-solid fa-wine-bottle fa-sm"></i> {{ product.name }}</p>
                <p class="mb-0"><i class="fa-solid fa-wine-glass fa-sm"></i> {{ product.category }}</p>
                <p class="mb-0"><i class="fa-regular fa-flag fa-sm"></i> {{ product.country }} - {{ product.region }}</p>
                
                {% if product.promotion %}
                    <p class="lead mb-0 text-left text-muted discount">Was! ${{ product.price }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">{{ product.promotion.name }} {{ product.promotion.discount_percentage }}% off!:</p>
                    <p class="lead mb-0 text-left font-weight-bold"><i class="fa-solid fa-euro-sign"></i> {{ product.discounted_price }}</p>
                {% else %}
                    <p class="lead mb-0 text-left font-weight-bold"><i class="fa-solid fa-euro-sign"></i> {{ product.price }}</p>
                {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}